.container {
    padding: 20px;
}

.table-container {
    max-width: 600px;
    margin: 0 auto;
}

.title {
    font-size: 24px;
    margin-bottom: 10px;
}

.property {
    margin-bottom: 10px;
}

.property strong {
    margin-right: 5px;
}

.back-button {
    position: absolute;
    top: 20px;
    left: 20px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
