/* styles.css */

.container {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.table-container {
    max-width: 1200px;
}

.title {
    margin-bottom: 20px;
}

.planet-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.planet-table-header {
    background-color: #f2f2f2;
}

.planet-table-row {
    border-bottom: 1px solid #ddd;
    height: 50px;
}

.planet-table-row:hover {
    background-color: #eaf5ff;
}

.planet-table-cell {
    padding: 15px;
}
